body {
  margin: 0;
  padding: 0;
  min-width: 100%!important;
}

.content {
  width: 100%;
  max-width: 600px;
}

/* esto es para que para poner un max ancho en Apple Mail */
@media only screen and (min-device-width: 601px) {
  .content {
    width: 600px !important;
  }
}

.header {
  padding: 40px 30px 0px 30px;
}

.col425 {
  width: 425px!important;
}

.subhead {
  font-size: 15px; 
  color: #ffffff; 
  font-family: sans-serif; 
  letter-spacing: 10px;
}

.h1 {
  font-size: 33px; 
  line-height: 38px; 
  font-weight: bold;
}

.h1, .h2, .bodycopy {
  color: #153643; 
  font-family: sans-serif;
}

.innerpadding {
  padding: 30px 30px 30px 30px;
}

.borderbottom {
  border-bottom: 1px solid #f2eeed;
}

tr.headerTable td {
  border-bottom: 1px solid #f2eeed;
}

.h2 {
  padding: 0 0 5px 0; 
  font-size: 14px; 
  line-height: 22px; 
}

.bodycopy {
  font-size: 14px; 
  line-height: 22px;
}

.pspTable {
  font-family: sans-serif;
  font-size: 12px; 
  line-height: 22px;
  padding: 15px 0 20px 0
}

.button {
  text-align: center; 
  font-size: 18px; 
  font-family: sans-serif; 
  font-weight: bold; 
  padding: 0 30px 0 30px;
}

.button a {
  color: #ffffff; 
  text-decoration: none;
}

/*  otra regla para apple mail */
@media only screen and (min-device-width: 601px) {
  .content {width: 600px !important;}
  .col425 {width: 425px!important;}
  .col380 {width: 380px!important;}
  }

img {
  height: auto;
}

.footer {
  padding: 20px 30px 15px 30px;
}

.footercopy {
  font-family: sans-serif; 
  font-size: 12px; 
  color: #969796;
}

.footercopy a {
  text-decoration: underline;
}
